extends ../../layout

block content
  include ../header.pug
  .container-fluid.pmargin-vertical-20(style="width: 60%")
        .card.scard
            .card-body
                .card-title.scard-title.underline-2 Add Pet Category
                .content
                    form(action="/admin/category/add.html" id="pcategory-form" method="POST")
                        .form-group
                            label(for="petCategoryName").field-label Name
                            input(type="text" name="name" placeholder="pet category name" id="petCategoryName").form-control
                            small(id="pname-error-tip" class="form-text text-danger")
                        .form-group
                            label(for="description").field-label Description
                            input(type="text" name="description" placeholder="description" id="description").form-control
                        .form-group
                            button(type="button" id="add-pcategory-btn").btn.lbtn  Add
                            a(style="margin-left:10px;" href="/admin/category/index.html").btn.lbtn  Back
block scriptblock
    script(text="text/javascript").
        $(function() {
            $("#add-pcategory-btn").on("click", async function() {
                let petCategoryName = $("#petCategoryName").val();
                let description = $("#description").val();
                if (!petCategoryName) {
                    $("#pname-error-tip").html("Pet category name can't be empty!");
                    return;
                } else {
                    let res = await request({
                        url: `/admin/category/exists.json/${petCategoryName}`,
                        method: "GET"
                    });
                    if (200 !== res.code) {
                        $("#pname-error-tip").html(res.msg);
                        return;
                    } else {
                        $("#pname-error-tip").html("");
                    }
                }
                $("#pcategory-form").submit();
            });
        });
