extends ../../layout

block content
  include ../header.pug
  .container-fluid.pmargin-vertical-20(style="width: 60%")
        .card.scard
            .card-body
                .card-title.scard-title.underline-2 Pet Category
                .content
                  .row
                    form(action="/admin/category/search.html" method="POST").form-inline
                      .form-group.mx-sm-3.mb-2
                        input(type="text" name="pCategoryName" placeholder="pet category name...").form-control
                      button(type="submit").btn.lbtn.mb-2  Search
                      a(href="/admin/category/add.html" style="margin-left: 5px;").btn.lbtn.mb-2  Add
                  if petCategories && petCategories.length > 0
                    table.table
                      thead
                        tr
                          td Name
                          td Description
                          td Create Date
                          td Opeartion
                      tbody
                        for petCategory in petCategories
                          tr
                            td=petCategory.name
                            td=petCategory.description
                            td=petCategory.create_at
                            td
                              a(href="/admin/category/edit.html/" + petCategory.id).btn.lbtn.btn-sm Edit
                              a(style="margin-left: 5px;" href="/admin/category/delete.html/" + petCategory.id).btn.btn-danger.btn-sm.no-radius Del
                  else
                    .alert.alert-danger No pet category found!
