.wrap ul li{
    list-style-type: none;
    display: block;
    position: absolute;
    bottom: -120px;
    width: 15px;
    height: 15px;
    z-index: -8;
    border-radius: 50%;
    box-shadow: inset -30px -30px 75px rgba(0,0,0,2),
    inset 0px 0px 5px rgba(0,0,0,.5),
    inset -3px -3px 5px rgba(0,0,0,.5),
    0 0 20px rgba(255, 255, 255, .75);
    background-color: rgba(255, 255, 255, 0.15);
    animation: square 25s infinite;
    -webkit-animation: square 25s infinite;

}
